transformers==4.33.2
tokenizers==0.13.3
abstract-singleton
accelerate
aiofiles
aiohttp
aiosignal
analytics-python
antlr4-python3-runtime
anyio
appdirs
appnope
argilla
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator
asynctest
attrs
auto-gpt-plugin-template
autoflake
backcall
backoff
backports.zoneinfo
bcrypt
bitsandbytes
black
bleach
blinker
blis
braceexpand
bs4
cachetools
catalogue
cchardet
certifi
cffi
cfgv
chardet
charset-normalizer
chromadb
click
clickhouse-connect
colorama
comm
commonmark
confection
contourpy
coverage
cpm-kernels
cryptography
cssselect
cycler
cymem
dataclasses-json
decorator
deepspeed
defusedxml
Deprecated
diskcache
distlib
distro
dnspython
docker
docker-pycreds
duckdb
duckduckgo-search
entrypoints
et-xmlfile
exceptiongroup
executing
faiss-cpu
fastjsonschema
ffmpy
filelock
flake8
Flask
Flask-CacheBuster
Flask-Cors
Flask-Login
fonttools
fqdn
frozenlist
fsspec
ghp-import
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gradio
gradio-client
greenlet
gTTS
gunicorn
h11
helpers
hjson
hnswlib
httpcore
httplib2
httptools
httpx
huggingface-hub
identify
importlib-metadata
importlib-resources
iniconfig
InstructorEmbedding
iopath
ipykernel
ipython
ipython-genutils
isoduration
isort
itsdangerous
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter-client
jupyter-core
jupyter-events
jupyter-server
jupyter-server-terminals
jupyterlab-pygments
kiwisolver
langchain
langcodes
latex2mathml
linkify-it-py
llama-index
llvmlite
loguru
lxml
lz4
Markdown
markdown2
markdownify
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mccabe
mdtex2html
mdurl
mergedeep
mistune
monotonic
mpmath
msg-parser
multidict
murmurhash
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
nodeenv
notebook
notebook-shim
numba
numexpr
numpy
oauthlib
olefile
omegaconf
openai
openapi-python-client
openapi-schema-pydantic
opencv-python
openpyxl
outcome
packaging
pandas
pandocfilters
paramiko
parso
pathspec
pathtools
pathy
pdfminer.six
peft
pexpect
pickleshare
Pillow
pinecone-client
pkgutil-resolve-name
platformdirs
plotly
pluggy
portalocker
posthog
pre-commit
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycocoevalcap
pycocotools
pycodestyle
pycparser
pycryptodome
pydantic
pydub
pyflakes
Pygments
pyllamacpp
pymdown-extensions
Pympler
PyMySQL
PyNaCl
pynndescent
pyOpenSSL
pypandoc
pyparsing
pyrsistent
PySocks
pytesseract
pytest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-integration
pytest-mock
pytest-recording
python-dateutil
python-decouple
python-docx
python-dotenv
python-json-logger
python-magic
python-pptx
pytz
PyYAML
pyyaml-env-tag
pyzmq
readability-lxml
redis
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986
rfc3986-validator
rich
rsa
safetensors
scikit-learn
scipy
selenium
semantic-version
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
shellingham
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
streamlit
sympy
tenacity
terminado
thinc
tiktoken
timm
toml
tomli
toolz
torch
torchvision
tornado
tqdm
traitlets
trio
trio-websocket
tweepy
typing-extensions
typing-inspect
tzlocal
uc-micro-py
umap-learn
unstructured
uri-template
uritemplate
urllib3
urllib3-secure-extra
uvicorn
uvloop
validators
vcrpy
virtualenv
wandb
wasabi
watchdog
watchfiles
wcwidth
webcolors
webdataset
webdriver-manager
webencodings
websocket-client
websockets
Werkzeug
wrapt
wsproto
XlsxWriter
yarl
zipp
zstandard
